.root {
  flex-basis: 15%;
  flex-grow: 1;
  flex-shrink: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px;
  position: relative;
  align-items: center;
}

.favortieText {
  font-size: 24px;
}
