.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 5px;
  margin-top: 10px;
  position: relative;
}

.bookText {
  font-size: 24px;
}

@mixin list-style {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-items: center;
  padding: 0px;
  gap: 20px;
}



@mixin title-style($animationType) {
  color: #777;
  font-size: 20px;
  margin: auto;
  animation: $animationType 0.5s forwards ease-in-out;
  padding: 10px;
  border-bottom: 1px solid grey;
  width: 50%;
}

.title {
  @include title-style(drop-in);
}

.titleOut {
  @include title-style(drop-out);
}

.list {
  @include list-style;
}

.listItem {
  cursor: pointer;
  font-size: 24px;
  opacity: 0;
  animation: drop-in 0.5s forwards ease-in-out;
  color: #806e59;
}

.listItemOut {
  font-size: 24px;
  opacity: 1;
  animation: drop-out 0.5s forwards ease-in-out;
  color: rgb(128, 110, 89);
}

.list li:nth-child(1),
.list1 li:nth-child(1) {
  animation-delay: 0.2s;
}

.list li:nth-child(2),
.list1 li:nth-child(2) {
  animation-delay: 0.3s;
}

.list li:nth-child(3),
.list1 li:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    position: relative;
  }
}

@keyframes drop-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    position: relative;
  }
}

// @mixin sortByLine-style($animationType, $opacity) {
  //   opacity: $opacity;
  //   width: 80%;
  //   color: rgb(78, 70, 60);
  //   animation: $animationType 0.5s forwards ease-in-out;
  //   animation-delay: 0.1s;
  //   margin: auto;
  //   margin-top: 5px;
  // }
  
  // .sortByLine {
  //   @include sortByLine-style(drop-in, 0);
  // }
  
  // .sortByLineOut {
  //   @include sortByLine-style(drop-out, 1);
  // }