.comments {
  font-family: 'Plus Jakarta Sans';
  border: solid 1px hsla(0, 0%, 83%, 0.5);
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: hsla(0, 0%, 83%, 0.05);
  gap: 30px;
}

.commentsContainer {
  margin-top: 40px;
}

.commentFormTitle {
  font-size: 24px;
}

.commentFormTextarea {
  padding: 10px;
  width: 100%;
  height: 100px;
  color: white;
  background-color: hsla(0, 0%, 83%, 0.05);
  margin-bottom: 9px;
}

.commentFormButton {
  font-size: 16px;
  width: 90px;
  padding: 10px 12px;
  background-color: hsla(0, 0%, 83%, 0.15);
  letter-spacing: 1;
  color: white;
  margin: 0;
}

.commentFormButton:enabled {
  cursor: pointer;
  border: solid 1px hsla(0, 0%, 83%, 0.5);
}

.commentFormButton:hover:enabled {
  cursor: pointer;
  background: rgb(84, 76, 62);
  border: solid 1px hsla(0, 0%, 83%, 0.5);
}

.commentFormButton:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.commentFormCancelButton {
  margin-left: 10px;
}

.comment {
  margin-bottom: 28px;
  background-color: hsla(0, 0%, 83%, 0.05);
  border: solid 1px hsla(0, 0%, 83%, 0.5);
  gap: 40px;
  padding: 10px;
  border-radius: 5px;
}

.commentImageContainer {
  margin-right: 12px;
}

.commentImageContainer img {
  border-radius: 50px;
}

.commentRightPart {
  width: 100%;
  border: solid red 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.commentContent {
  display: flex;
  align-items: flex-start ;
  flex-direction: column;
  gap: 5px;
}

.commentAuthor {
  margin-right: 8px;
  font-size: 24px;
  color: white;
}

.commentDate {
  margin-right: 8px;
  font-size: 14px;
  color: #777;
}

.commentText {
  font-size: 18px;
  display: flex;
  padding: 0 0 0 20px;
}

.commentActions {
  display: flex;
  font-size: 12px;
  color: #a0a0a0;
  cursor: pointer;
}

.commentAction {
  margin-right: 8px;
  border-left: #777 solid 1px;
  padding-left: 8px;
}

.commentAction:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.commentFormButtons {
  width: 100%;
  display: flex;
  gap: 10px;
}
