.root {
  position: relative;
  flex-basis: 10%;
  min-width: 300px;
  flex-grow: 2;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  overflow: scroll;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  gap: 10px;
} 

@mixin bookLinkStyle {
  min-width: 150px;
  font-size: 36px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(126, 98, 66);
  letter-spacing: 1px;
}

.bookLink {
  @include bookLinkStyle;
  cursor: pointer;
}

.bookLinkDisabled {
  @include bookLinkStyle;
  cursor: none;
  opacity: 0.5;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 20px black;
  z-index: 1;
}

.logoOpen {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 20px black;
  animation: lionDoorOpen 2s ease-in-out forwards;
}

.logoBack {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 20px black;
  animation: lionDoorClose 2s ease-in-out forwards;
}

.logoWrapper {
  width: 100%;
  position: relative;
}

.loginButton {
  text-decoration: none;
  width: 200px;
  height: 100px;
  border: 0.2em solid rgb(126, 98, 66);
  padding: 10px 20px;
  color: rgb(126, 98, 66);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
}

.loginButton:hover {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: rgb(126, 98, 66);
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  transition: 0.5s;
}

.insideLogoWrapper {
  width: 100%;
  overflow: hidden;
}

.veryHiddenLogin {
  display: block;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loginEnter 1s ease-in;
}

.hiddenLogin {
  display: none;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loginEnter 1s ease-in;
}

.key {
  height: 80px;
  cursor: grab;
}

.doors {
  height: 100px;
  opacity: 0;
}

.doorsVisible {
  height: 100px;
  animation: loginEnter 0.5s ease-in;
}

.doorsWrapper {
  margin-top: auto;
}

@keyframes lionDoorOpen {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes lionDoorClose {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loginEnter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

