.root {
  flex-basis: 70%;
  flex-grow: 5;
  flex-shrink: 5;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-items: start;
  flex-direction: column;
  gap: 50px;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.90);
}

.root::-webkit-scrollbar {
  display: none;
}
