.root {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 5px;
  margin-top: 10px;
  position: relative;
}

.bookText {
  font-size: 24px;
}

@mixin list-style {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  justify-items: start;
  padding: 0px;
  gap: 20px;
}

@mixin sortByLine-style($animationType, $opacity) {
  opacity: $opacity;
  width: 100%;
  color: #777;
  animation: $animationType 0.5s forwards ease-in-out;
  animation-delay: 0.1s;
}

@mixin title-style($animationType) {
  font-size: 20px;
  color: #777;
  animation: $animationType 0.5s forwards ease-in-out;
}

.title {
  @include title-style(drop-in);
}

.titleOut {
  @include title-style(drop-out);
}

.sortByLine {
  @include sortByLine-style(drop-in, 0);
}

.sortByLineOut {
  @include sortByLine-style(drop-out, 1);
}

.list {
  @include list-style;
}

.listItem {
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  animation: drop-in 0.5s forwards ease-in-out;
  color: rgb(128, 110, 89);
}

.listItemOut {
  font-size: 24px;
  opacity: 1;
  animation: drop-out 0.5s forwards ease-in-out;
  color: rgb(128, 110, 89);
}

.list li:nth-child(1),
.list1 li:nth-child(1) {
  animation-delay: 0.2s;
}

.list li:nth-child(2),
.list1 li:nth-child(2) {
  animation-delay: 0.3s;
}

.list li:nth-child(3),
.list1 li:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    position: relative;
  }
}

@keyframes drop-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    position: relative;
  }
}
