.root {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 20px;
  left: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;


}
.cardImage {
  width: 100%;
  height: 100%;
}

.cardDetails {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: start;
  justify-items: stretch;
  opacity: 0;
}

.cardDetails:hover {
  opacity: 1;
}

.title {
  font-weight: 500;
}

.cardDescription {
  font-weight: 300;
}
.cardButton {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: 0px solid black;
}
