.root {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 20px;
  left: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

}
.favoritesDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.favTitle {
  font-size: 20px;
  font-weight: 500;
}

.deleteImage {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  align-self: start;
  align-content: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
  opacity: 0
}

.deleteImage:hover {
  opacity: 1;
}

.trashIcon {
  height: 40px;
  width: 50px;
  border-radius: 50%;
  position: static;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.favCardImage {
  width: 100%;
  height: 100%;
  opacity: 1;
}
