.meetingCard {
  flex-basis: auto;
  flex-grow: 1;
  width: 100%;
  padding: 40px;
  display: flex;
  gap: 20px;
  border: solid 1px hsla(0, 0%, 83%, 0.5);
  background-color: hsla(0, 0%, 83%, 0.05);
  border-radius: 5px;
  overflow: auto;

  @media screen and (max-width: 1020px) {
    flex-direction: column;
    overflow: none;
    width: auto;
  }

  @media screen and (max-width: 576px) {

  }


}

.sliderWrapper {
  height: 280px;
  width: 400px;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (max-width: 576px) {
    width: 350px;
  }
}

.singleCadView {
  height: 280px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;

  @media screen and (max-width: 1020px) {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.text {
  color: #777;
}

.bookActions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 80%;
  flex: 1 0;
  padding-top: 80px;
  padding-left: 40px;
}

.subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 2px;
  @media screen and (max-width: 1020px) {
    align-items: center;
  }
}

.subsection p,
h1,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.literastBox {
  display: flex;
  gap: 10px;
}

.subTitle {
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-weight: y00;
  font-size: 24px;
}
