.root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.galleryWrapper {
  width: 100%;
  height: 1px;
  display: flex;
  position: relative;
  align-items: center;
  top:0;
  left:0;
}



.imageWrapper:hover::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 17px 3px rgb(181, 179, 178), 0 0 4px 2px rgb(181, 179, 178);
  -webkit-box-shadow: 0 0 17px 3px rgb(181, 179, 178), 0 0 4px 2px rgb(181, 179, 178);
  z-index: -1;
  -webkit-animation-name: half-cyan-shadow;
  animation-iteration-count: infinite;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
