.mediaNavButton {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    display: none;
    @media screen and (max-width: 1020px) {
      display: block;
    }
    @media screen and (max-width: 567px) {
      // font-size: 20px;
      // padding: 2px;
      padding: 5px 10px;
    }
  }