.root {
  padding: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: start;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: scroll;
  height: 100vh;
}

.root::-webkit-scrollbar {
  display: none;
}

.meetingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;


  @media screen and (max-width: 1020px) {
    width: 90%;
  }
}

.meetingText {
  letter-spacing: 1;
  color: rgb(126, 98, 66);

  @media screen and (max-width: 1020px) {
    color: grey;
  }
}
