.root {
  padding: 50px;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-items: flex-start ;
  flex-direction: column;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: scroll;
}

.error {
  text-align: start;
  color: rgb(168, 24, 24);
}

.formControl {
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  background-color: rgba(38, 29, 27, 0.661);

  @media screen and (max-width: 1020px) {
    background-color: rgba(0, 0, 0, 0.661);
  }
}

.productsList {
  min-height: 60%;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start ;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 0 1.5em 0 inset rgba(2, 2, 11, 1), 0 0 0.5em 0 rgba(2, 2, 11, 1);
  -webkit-animation: fade-in 0.75s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  animation: fade-in 0.75s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  background-color: hsla(0, 0%, 14%, 0.523);
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

