.App {
  text-align: center;
  width: 100vw;
  color: #f2f2f2;
  display: flex;
  background: url('../public/images/background/Book.jpg');
  background-color: #080605;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;

  @media screen and (max-width: 1020px) {
    flex-direction: column;
    background: url('../public/images/background/Ninja.jpg');
    background-position: center 40%;
    background-repeat:repeat-y
  }
}

.mediaMavButton {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
}
