body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Plus Jakarta Sans ','Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: 'Plus Jakarta Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*{
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}